<main class="homepage-content">
    <div class="homepage-content-row">
        <a routerLink="/snake-game" class="example-card">
            <mat-card>
                <img mat-card-image src="../../assets/snake-game.jpg" alt="Photo of the snake game">
                <mat-card-content>
                    <h3>Snake</h3>
                </mat-card-content>
            </mat-card>
        </a>
        <a class="example-card">
            <mat-card>
                <img mat-card-image src="../../assets/coming-soon.jpg" alt="Coming soon...">
                <mat-card-content>
                    <h3>Space Invaders</h3>
                </mat-card-content>
            </mat-card>
        </a>
        <a class="example-card">
            <mat-card>
                <img mat-card-image src="../../assets/coming-soon.jpg" alt="Coming soon...">
                <mat-card-content>
                    <h3>Tetris</h3>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</main>